<!DOCTYPE HTML>
<html>
    <head>
    <meta charset=utf-8>
    <title>OS X Sobre Raíles - {{ page.title }}</title>
    
     <script src="/js/modernizr-1.5.min.js"></script><!-- this is the javascript allowing html5 to run in older browsers -->
    
    <link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" title="html5doctor.com Reset Stylesheet" />
    
    <!-- in the CSS3 stylesheet you will find examples of some great new features CSS has to offer -->
    <link rel="stylesheet" type="text/css" href="/css/css3.css" media="screen" />

    
    <!-- general stylesheet contains some default styles, you do not need this, but it helps you keep a uniform style -->
    <link rel="stylesheet" type="text/css" href="/css/general.css" media="screen" />
    
    <!-- grid's will help you keep your website appealing to your users, view 52framework.com website for documentation -->
    <link rel="stylesheet" type="text/css" href="/css/grid.css" media="screen" />
    
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" media="all" />
	<link rel="alternate" type="application/atom+xml" title="Atom"
	      href="/atom.xml">
	
    <style>
	.blog_entries li p {text-shadow:0px 1px 0px #fff; color:#555;}
	.side_entries li {margin:0px; padding:0px; border-bottom:1px solid #fff;}
	.side_entries li a {display:block; border-bottom:1px solid #ccc; padding-bottom:5px; padding-top:5px;}
	</style>
    </head>

<body>

<div class="row">
	<header>
    	
      <div class="logo col_15 col">
         <h1><img src='images/apple-logo.png' height='30px' width='30px'>   
         OS X Sobre Raíles</h1></div><!-- logo col_7 -->

      <!-- 
      <nav class="col_11 col">
        	<ul>
            	<li class="active"><a href="/">home.</a></li>
                <li><a href="http://demo.52framework.com">demo.</a></li>
            	<li><a href="/blog">blog.</a></li>

            	<li><a href="/documentation">documentation.</a></li>
                <li><a href="/downloads">download.</a></li>
            </ul>
        </nav>
      <div class="clear"></div>
	  -->
       
    </header>
</div><!-- row -->


{{ content }}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25521434-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<footer class="row">

	<div class="col_16 col">
        
    plantilla basada en  <a href="http://52framework.com/blog/">52framework</a> | licencia creative commons <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/us/80x15.png" /></a>

    
    </div>

</footer>

</body>
</html>
